<div class="page">

  <form novalidate [formGroup]="authForm" class="auth">
    <div class="auth__block">
      <span class="auth__block-text">Email:</span>
      <input type="text" [class.auth__block-field_error]="!email.valid && (email.touched || email.dirty)"
        formControlName="email" class="auth__block-field">
      <div class="errors" *ngIf="email.errors">
        <span class="errors__item" *ngIf="email.errors['required']">Поле обяз для заполн</span>
        <span class="errors__item" *ngIf="email.errors['minlength']">Минимальная длина {{ email.errors['minlength'].requiredLength }} символов</span>
        <span class="errors__item" *ngIf="email.errors['emaiValidator']">Email введен некорректно</span>
      </div>
    </div>

    <div class="auth__block">
      <span class="auth__block-text">Password:</span>
      <input type="password" [class.auth__block-field_error]="!password.valid && (password.touched || password.dirty)" formControlName="password" class="auth__block-field">
      <div class="errors" *ngIf="password.errors">
          <span class="errors__item" *ngIf="password.errors['required']">Поле обяз для заполн</span>
          <span class="errors__item" *ngIf="password.errors['minlength']">Минимальная длина {{ password.errors['minlength'].requiredLength }} символов</span>
          <span class="errors__item" *ngIf="password.errors['maxlength']">Максимальная длина {{ password.errors['maxlength'].requiredLength }} символов</span>
        </div>
    </div>

    <input type="submit" value="Authorization" (click)="sendData()">
  </form>

</div>
