.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;

  .auth {
    background-color: lightgray;
    border-radius: 10px;
    width: 40%;
    padding: 45px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__block {
      width: 70%;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      &-text {
        margin-bottom: 5px;
      }

      &-field {
        background-color: white;
        padding-left: 10px;
        outline: none;
        border:  1px solid gray;
        border-radius: 4px;
        height: 25px;
        
        &_error{
            border: 1px solid red;
        }
      }

      .errors{
          display: flex;
          flex-direction: column;
        &__item{
            color: red;
        }
      }
    }
  }
}
