<!-- еслт isEdit true, то выводится editTemplate и наоборот -->
<div *ngIf="isEdit then editTemplate else infoTemplate"></div>
<!-- ng-template тэг ангуляр, который используется совместно с ngIf, ngFor, ngSwitch -->
<ng-template #infoTemplate>
<!-- [@cardState] нужен для привязки анимации к карточке, [class.card_even]="isEven" нужен для того, чтобы красиво менялся цвет на 
  странице(см. list.component), (click)="clickCard() -->
  <div class="card" [@cardState]="animationState" [class.card_even]="isEven" (click)="clickCard()">
    <img class="card__avatar" [src]="user.picture" alt="">
    <span class="card__name">{{ user.name.first }} {{ user.name.last }}</span>
    <div class="card__info">
      <span class="card__info-email">{{ user.email }}</span>
      <span class="card__info-birth">{{ user.birth | birthPipe }}</span>
    </div>
    <div class="card__buttons">
      <button class="card__buttons-item" (click)="toggleEdit()">Edit</button>
      <button class="card__buttons-item" (click)="deleteCard()">Delete</button>
    </div>
  </div>

</ng-template>

<ng-template #editTemplate>
  <div class="card" [class.card_even]="isEven">
    <div class="card__info card__info_edit">
      <input class="card__info-inp" type="text" [(ngModel)]="user.name.first">
      <input class="card__info-inp" type="text" [(ngModel)]="user.name.last">
      <input class="card__info-inp" type="text" [(ngModel)]="user.email">
    </div>
    <div class="card__buttons">
      <button class="card_buttons-item" (click)="toggleEdit()">Save</button>
      <button class="card_buttons-item" (click)="deleteCard()">Delete</button>
    </div>
  </div>
</ng-template>
