.card {
  width: 100%;
  height: 60px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  box-sizing: border-box;

  &_even {
    background-color: pink;
  }

  &__name {
    font-weight: bold;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-email {
      margin: 5px;
      font-style: italic;
    }

    &-birth {
      font-style: 14px;
      color: gray;
      font-weight: bold;
      margin: 5px;
    }

    &-inp {
      width: 100px;
    }

    &_edit {
      flex-direction: row;
    }
  }

  &__buttons {
    display: flex;

    &-item {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
