.header {
  width: 100%;
  height: 50px;
  background-color: blue;
  display: flex;
  box-sizing: border-box;
  padding: 0 40px;
  align-items: center;

  &__link {
    margin-right: 15px;
    color: white;
    font-weight: bold;

    &_active {
      color: red;
    }
  }
}
