<div class="header">
  <a class="header__link"  (click)="goTo('home')" [class.header__link_active]="getIsActive('home')">HOME</a>
  <a class="header__link" *ngIf="isLogin" (click)="goTo('list')" [class.header__link_active]="getIsActive('list')">LIST</a>
  <a class="header__link"  (click)="goTo('about')" [class.header__link_active]="getIsActive('about')">ABOUT</a>
  <a class="header__link" *ngIf="!isLogin" (click)="goTo('auth')" [class.header__link_active]="getIsActive('auth')">LOGIN</a>
</div>
