<h1>LIST</h1>

<div class="users">
  <app-card *ngFor="let item of users; let i = index" [user]="item" [isEven]="i % 2 == 0"
    (deleteEvent)="deleteUser($event)"></app-card>
</div>

<button class="add" (click)="addUser()">Add</button>
