.user-info{
    width: 250px;
    height: 150px;
    background-color: green;
    border: 3px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}